fastapi>=0.104.0
uvicorn[standard]>=0.24.0
python-multipart>=0.0.6
pydantic>=2.5.0
websockets>=12.0
aiofiles>=23.2.0
redis>=5.0.0
torch==2.9.1 --index-url https://download.pytorch.org/whl/cu130
torchvision==0.24.1 --index-url https://download.pytorch.org/whl/cu130
# xformers==0.0.33.post2 --index-url https://download.pytorch.org/whl/cu130
transformers>=4.40.0
accelerate

git+https://github.com/huggingface/diffusers
cryptography>=42.0.0
aiohttp>=3.9.0
